<div id="addModal" class="modal">
    <div class="modal-content">
        <div class="modal-header">
            <h3>Add</h3>
            <span class="close">&times;</span>
        </div>
        <div class="modal-body">
            <input type="number" id="addOperand1" placeholder="Operand 1" required>
            <input type="number" id="addOperand2" placeholder="Operand 2" required>
            <button id="calculateAdd" class="operation-button">Calculate</button>
            <div id="addResult"></div>
        </div>
        <div class="modal-footer">
            Add operation footer
        </div>
    </div>
</div>