<div id="subtractModal" class="modal">
    <div class="modal-content">
        <div class="modal-header">
            <h3>Subtract</h3>
            <span class="close">&times;</span>
        </div>
        <div class="modal-body">
            <input type="number" id="subtractOperand1" placeholder="Operand 1" required>
            <input type="number" id="subtractOperand2" placeholder="Operand 2" required>
            <button id="calculateSubtract" class="operation-button">Calculate</button>
            <div id="subtractResult"></div>
        </div>
        <div class="modal-footer">
            Subtract operation footer
        </div>
    </div>
</div>